<a href="https://colab.research.google.com/github/HadenMoore/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/DS_Unit_1_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 3

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 (the class attribute) is the most interesting, as it separates the 307 approved cases from the 383 rejected cases. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# Imports
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Loading in DataFrame
credit = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data')
credit.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g  00043  560  +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  00280  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  00100    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  00120    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  00360    0  +

In [12]:
credit.shape

(689, 16)

In [13]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', 
                 header=None)
print(df.shape)
df.head()

(690, 16)

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [14]:
column_names = ['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', header=None,  names=column_names)
print(df.shape)
df.head()

(690, 16)

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [15]:
df.shape

(690, 16)

In [16]:
# Interesting... Doesn't detect anything. I'll try something else. 
df.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [17]:
#Uh, okay. One more thing then. 
df.isnull().values.any()

False

In [18]:
df.isna().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [19]:
df.isna().values.any()

False

In [20]:
df.isna().values.any().sum()

0

In [21]:
#Hmmmm.. I guess there aren't any missing values
df.isnull().values.any().sum()

0

In [22]:
df.shape

(690, 16)

In [23]:
#Just going to look at it straight up
df.head(690)

    A1     A2      A3 A4 A5  A6  A7  ...  A10 A11 A12  A13    A14    A15 A16
0    b  30.83   0.000  u  g   w   v  ...    t   1   f    g  00202      0   +
1    a  58.67   4.460  u  g   q   h  ...    t   6   f    g  00043    560   +
2    a  24.50   0.500  u  g   q   h  ...    f   0   f    g  00280    824   +
3    b  27.83   1.540  u  g   w   v  ...    t   5   t    g  00100      3   +
4    b  20.17   5.625  u  g   w   v  ...    f   0   f    s  00120      0   +
5    b  32.08   4.000  u  g   m   v  ...    f   0   t    g  00360      0   +
6    b  33.17   1.040  u  g   r   h  ...    f   0   t    g  00164  31285   +
7    a  22.92  11.585  u  g  cc   v  ...    f   0   f    g  00080   1349   +
8    b  54.42   0.500  y  p   k   h  ...    f   0   f    g  00180    314   +
9    b  42.50   4.915  y  p   w   v  ...    f   0   t    g  00052   1442   +
10   b  22.08   0.830  u  g   c   h  ...    f   0   t    g  00128      0   +
11   b  29.92   1.835  u  g   c   h  ...    f   0   f    g  00260    200   +
12   a  38.25   6.000  u  g   k   v  ...    f   0   t    g  00000      0   +
13   b  48.08   6.040  u  g   k   v  ...    f   0   f    g  00000   2690   +
14   a  45.83  10.500  u  g   q   v  ...    t   7   t    g  00000      0   +
15   b  36.67   4.415  y  p   k   v  ...    t  10   t    g  00320      0   +
16   b  28.25   0.875  u  g   m   v  ...    t   3   t    g  00396      0   +
17   a  23.25   5.875  u  g   q   v  ...    t  10   f    g  00120    245   +
18   b  21.83   0.250  u  g   d   h  ...    f   0   t    g  00000      0   +
19   a  19.17   8.585  u  g  cc   h  ...    t   7   f    g  00096      0   +
20   b  25.00  11.250  u  g   c   v  ...    t  17   f    g  00200   1208   +
21   b  23.25   1.000  u  g   c   v  ...    f   0   f    s  00300      0   +
22   a  47.75   8.000  u  g   c   v  ...    t   6   t    g  00000   1260   +
23   a  27.42  14.500  u  g   x   h  ...    t   1   f    g  00120     11   +
24   a  41.17   6.500  u  g   q   v  ...    t   3   t    g  00145      0   +
25   a  15.83   0.585  u  g   c   h  ...    t   2   f    g  00100      0   +
26   a  47.00  13.000  u  g   i  bb  ...    t   9   t    g  00000      0   +
27   b  56.58  18.500  u  g   d  bb  ...    t  17   t    g  00000      0   +
28   b  57.42   8.500  u  g   e   h  ...    t   3   f    g  00000      0   +
29   b  42.08   1.040  u  g   w   v  ...    t   6   t    g  00500  10000   +
..  ..    ...     ... .. ..  ..  ..  ...  ...  ..  ..  ...    ...    ...  ..
660  b  22.25   9.000  u  g  aa   v  ...    f   0   f    g  00000      0   -
661  b  29.83   3.500  u  g   c   v  ...    f   0   f    g  00216      0   -
662  a  23.50   1.500  u  g   w   v  ...    f   0   t    g  00160      0   -
663  b  32.08   4.000  y  p  cc   v  ...    f   0   t    g  00120      0   -
664  b  31.08   1.500  y  p   w   v  ...    f   0   f    s  00160      0   -
665  b  31.83   0.040  y  p   m   v  ...    f   0   f    g  00000      0   -
666  a  21.75  11.750  u  g   c   v  ...    f   0   t    g  00180      0   -
667  a  17.92   0.540  u  g   c   v  ...    t   1   t    g  00080      5   -
668  b  30.33   0.500  u  g   d   h  ...    f   0   t    s  00252      0   -
669  b  51.83   2.040  y  p  ff  ff  ...    f   0   f    g  00120      1   -
670  b  47.17   5.835  u  g   w   v  ...    f   0   f    g  00465    150   -
671  b  25.83  12.835  u  g  cc   v  ...    f   0   f    g  00000      2   -
672  a  50.25   0.835  u  g  aa   v  ...    f   0   t    g  00240    117   -
673  ?  29.50   2.000  y  p   e   h  ...    f   0   f    g  00256     17   -
674  a  37.33   2.500  u  g   i   h  ...    f   0   f    g  00260    246   -
675  a  41.58   1.040  u  g  aa   v  ...    f   0   f    g  00240    237   -
676  a  30.58  10.665  u  g   q   h  ...    t  12   t    g  00129      3   -
677  b  19.42   7.250  u  g   m   v  ...    t   1   f    g  00100      1   -
678  a  17.92  10.210  u  g  ff  ff  ...    f   0   f    g  00000     50   -
679  a  20.08   1.250  u  g   c   v  ...    f   0   f    g  00000      0   -
680  b  19.50   0.290  u  g   k   v  ...    f   0   f    g  00280    364   -
681  b  27.83   1.000  y  p   d   h  ...    f   0   f    g  00176    537   -
682  b  17.08   3.290  u  g   i   v  ...    f   0   t    g  00140      2   -
683  b  36.42   0.750  y  p   d   v  ...    f   0   f    g  00240      3   -
684  b  40.58   3.290  u  g   m   v  ...    f   0   t    s  00400      0   -
685  b  21.08  10.085  y  p   e   h  ...    f   0   f    g  00260      0   -
686  a  22.67   0.750  u  g   c   v  ...    t   2   t    g  00200    394   -
687  a  25.25  13.500  y  p  ff  ff  ...    t   1   t    g  00200      1   -
688  b  17.92   0.205  u  g  aa   v  ...    f   0   f    g  00280    750   -
689  b  35.00   3.375  u  g   c   h  ...    f   0   t    g  00000      0   -

[690 rows x 16 columns]

In [0]:
df = df.replace({'?':np.NaN})

In [25]:
# I Knew it. 
df.isna().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [29]:
df.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [30]:
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [37]:
#A2 needs to be Float64
#A11 needs to be Float64
#A14 needs to be Float64
df['A2'] = df.A2.astype(float)
df['A11'] = df.A11.astype(float)
df['A14'] = df.A14.astype(float)
df.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15      int64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [38]:
# Creating  '-' DataFrame

neg = df[df.A16 =="-"]
print(neg.shape)
neg.head()

(383, 16)

   A1     A2   A3 A4 A5  A6  A7      A8 A9 A10  A11 A12 A13    A14  A15 A16
70  b  32.33  7.5  u  g   e  bb   1.585  t   f  0.0   t   s  420.0    0   -
71  b  34.83  4.0  u  g   d  bb  12.500  t   f  0.0   t   g    NaN    0   -
72  a  38.58  5.0  u  g  cc   v  13.500  t   f  0.0   t   g  980.0    0   -
73  b  44.25  0.5  u  g   m   v  10.750  t   f  0.0   f   s  400.0    0   -
74  b  44.83  7.0  y  p   c   v   1.625  f   f  0.0   f   g  160.0    2   -

In [39]:
# Creating  '+' DataFrame
posi = df[df.A16 =="+"]
print(posi.shape)
posi.head()

(307, 16)

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t  1.0   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t  6.0   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f  0.0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t  5.0   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f  0.0   f   s  120.0    0   +

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel, t

In [117]:
stats.ttest_ind(posi['A3'], neg['A3'], nan_policy='omit')

Ttest_indResult(statistic=5.52998337614816, pvalue=4.551680702308068e-08)

In [44]:
stats.ttest_ind(posi['A8'], neg['A8'], nan_policy='omit')

Ttest_indResult(statistic=8.935819983773698, pvalue=3.6710537401601785e-18)

In [55]:
contingency = pd.crosstab(df['A16'], 
                          df['A1'])
contingency = contingency.values

print(contingency.shape)
print(contingency)

(2, 2)
[[ 98 206]
 [112 262]]

In [110]:
# Calculate our contingency table 
contingency_table = pd.crosstab(
    df['A1'], 
    df['A16'], 
    margins =False)

contingency_table

A16    +    -
A1
a     98  112
b    206  262

In [111]:
df['A16'].value_counts()

-    383
+    307
Name: A16, dtype: int64

In [112]:
df['A1'].value_counts()

b    468
a    210
Name: A1, dtype: int64

In [113]:
# Get Row Sums
row_sums = contingency_table.iloc[0:2].values
col_sums = contingency_table.iloc[0:6].values
print(row_sums)

[[ 98 112]
 [206 262]]

In [106]:
total = 678
total

678

In [114]:
expected = []
for i in range(len(row_sums)):
  expected_row = []
  for column in col_sums:
    expected_val = column*row_sums[i]/total
    expected_row.append(expected_val)
  expected.append(expected_row)
  

expected = np.array(expected)
print(expected.shape)  
print(expected)

(2, 2, 2)
[[[ 14.16519174  18.50147493]
  [ 29.77581121  43.28023599]]

 [[ 29.77581121  43.28023599]
  [ 62.5899705  101.24483776]]]

In [115]:
observed = pd.crosstab(df['A1'], df['A16']).values
print(observed.shape)
observed

(2, 2)

array([[ 98, 112],
       [206, 262]])

In [116]:
chi_squared = ((contingency - expected)**2/(expected)).sum()
print(f"Chi-Squared: {chi_squared}")

Chi-Squared: 4791.038726645127

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.



```
# This is formatted as code
```

*Your words here!*
Theres seems to be a major difference between column A3 in the Positive and Negative Data Frames. Seems as if the lower the value, the better chance of the case being accepted. 
Tells me that the getting accepted is Not by chance. It's based on the other catergories. 
The most challenging part was dealing with a headcold and thinking straight enough to answer these questions!